
.imageContainer{
background: black;
}

.image-preview {
  height: 300px;
  cursor: zoom-in;
}

.magnifier-container {
  display: inline-block;
  position: relative;
}

.magnifier {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  overflow: hidden;
  height: 300px;
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: white;
}

.magnifier__img {
  width: 1000px;
  transform-origin: 150px 150px;
}
